src/main/mule/mule-maven-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0d146cc2-7613-4154-a413-3b28970adb09" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-maven-demoFlow" doc:id="706344a0-66fb-4b42-bb55-1b8cb5a3db74" >
		<http:listener doc:name="Listener" doc:id="6d081b46-4b44-42af-b162-d3e1b0661912" config-ref="HTTP_Listener_config" path="/welcome"/>
		<set-payload value='#["Welcome to mulesoft demo for Maven"]' doc:name="Set Payload" doc:id="bd75d2a8-9f07-4a02-9f2c-691b1a492ce7" />
	</flow>
</mule>
